.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.bold {
    font-weight: bold;
}

button.btn-primary {
    margin-bottom: 4px;
}

div.wrapper {
    margin: 30px 30px 0 30px;
}

div.usertoolbar {
    margin-bottom: 5px;
}

h1 {
    margin-bottom: 20px;
}

body {
    line-height: 1.25;
}

p.message {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.messagebuttons {
    margin-top: 30px;
}

.right {
    float: right;
}

div.group {
    display: inline-block;
}

div.usertoolbar p {
    margin-right: 4px;
    display: inline-block;
}

div.toolbar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.fixed-table-toolbar .bs-bars {
    width: 100%;
}

#toolbar {
    width: 100%;
    margin-right: 4px;
}

.sortablelink {
    color: white;
}

.sortablelink:hover {
    color: darkgray;
    text-decoration: none;
}

div.section {
    margin-top: 20px;
}

form {
    max-width: 600px;
}

p.empty {
    margin-top: 20px;
    font-size: 20px;
    color: red;
}

div.deleteuser {
    margin-top: 20px;
}

div.formbuttons {
    margin-top: 30px;
}

span.form-text {
    color: red;
}

#toolbar form {
    display: inline-block;
    float: right;
}

.paginationtoolbar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.page-list {
    display: inline-block;
}

.paginationtoolbar .pagination-detail {
    margin-top: 5px;
}

.paginationtoolbar .pagination {
    margin-top: 5px;
}

.paginationtoolbar .pagination-detail select {
    width: 75px;
}

#pageSizeSelectForm {
    display: none;
}

.paginationtoolbar .pagination * {
    display: inline-block;
}

@media (max-width: 414px) {
    div.wrapper {
        margin: 15px;
    }

    input.search-input {
        width: 200px;
    }
}

@media (max-width: 360px) {
    input.search-input {
        width: 180px;
    }
}

@media (max-width: 320px) {
    div.wrapper {
        margin: 5px;
    }

    input.search-input {
        width: 160px;
    }
}
	